body {
	padding: 2rem;
	font-family: "IBM Plex Serif", serif;
	/* font-size: 16px; */
}

.onlyphone {
	display: none;
}
.onlypc {
	display: initial;
}

@media screen and (max-width: 600px) {
	.onlyphone {
		display: initial;
	}
	.onlypc {
		display: none;
	}
}

#intro {
	margin-bottom: 2rem;
}

.projectCard {
	margin-bottom: 2rem;
}

.projectCard div {
	margin-top: 0.4rem;
}

.projectCard h1 {
	margin-bottom: 0;
	font-size: 1em;
	font-weight: 700;
	display: inline;
}

.projectCard a {
	color: #aaa;
	text-decoration: none;
}

.projectCard a:hover {
	color: #444;
}

.projectTech {
	display: none;
}

.projectTech img {
	width: 24px;
}
