body {
	padding: 0 2rem;
	padding-bottom: 0;
	font-family: "IBM Plex Serif", serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 99vh;
}

.onlyphone {
	display: none;
}
.onlypc {
	display: initial;
}

@media screen and (max-width: 600px) {
	.onlyphone {
		display: initial;
	}
	.onlypc {
		display: none;
	}
}

header {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#lang {
	float: right;
	text-decoration: none;
	color: #aaa;
}

#lang:hover {
	color: #444;
}

#intro {
	margin-bottom: 2rem;
}

.projectCard {
	margin-bottom: 2rem;
}

.projectCard h1 {
	margin-bottom: 0;
	font-size: 1em;
	font-weight: 700;
	display: inline;
}

.projectCard a {
	color: #aaa;
	text-decoration: none;
}

.projectCard a:hover {
	color: #444;
}

.projectTech {
	display: none;
}

.projectTech img {
	width: 24px;
}

footer {
	/* width: 100%; */
	text-align: center;
}
